<!--Chopped the navbar out of the shared layout folder to make it easier to work wiith by itself-->

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("PhaseChange", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("New Rental","New","Rentals")</li> @* new rental which points to the new action in rentals controller*@
                <li>@Html.ActionLink("Customers", "Index", "Customers")</li>
                <li>@Html.ActionLink("Games", "Index", "Games")</li>
              
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>

